/* .bg-image {
    background-image: url("../img/project/project-image01.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
.bg-main {
    background-color: #06798C;
}

.text-main {
    color: #06798C;
}
.bg-whiterr {
    background-color: #F0F7FD ;
}

@keyframes hover-1 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 106px;
        height: 2px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}